/* Footer Styles */
.footerShow {
  background: var(--bg-tertiary);
  display: flex;
  justify-content: space-between;
  padding: 25px 120px;
  align-items: center;
}

.footerShow div {
  display: flex;
  gap: 12px;
  font-size: 16px;
  color: var(--text-light);
}

.footerShow div a {
  font-size: 20px;
  text-decoration: none;
  color: var(--text-light);
  transition: all 0.3s ease;
}

.footerShow div a:hover {
  color: var(--accent-primary);
  transform: scale(1.2);
  transition: all 0.3s;
}

.footerHide {
  display: none;
}

@media (max-width: 830px) {
  .footerShow {
    padding: 25px 45px;
  }
}

@media (max-width: 550px) {
  .footerShow {
    flex-direction: column-reverse;
    gap: 25px;
    text-align: center;
  }
}
