/* Import all modular CSS files */
@import "./styles/theme.css";
@import "./styles/navbar.css";
@import "./styles/footer.css";
@import "./styles/auth.css";
@import "./styles/home.css";
@import "./styles/jobs.css";
@import "./styles/applications.css";
